$font-stack: "Open Sans", sans-serif;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
audio,
video {
	display: block;
	max-width: 100%;
}

html,
body {
	height: 100%;
}

body {
	font: 100% $font-stack;
}

h1 {
	font-size: 51px;
}

h2 {
	line-height: 1.2;
}

nav {
	display: flex;
	gap: 77px;
}

nav {
	span {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 25px;
	}
}

.dropdown {
	display: none;
}

.dropdown--about,
.dropdown--gallery {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.dropdown--about--list,
.dropdown--gallery--list {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	color: black;
	min-width: 160px;
	box-shadow: 5px 0 10px grey, -5px 0 10px grey;
	padding: 12px 16px;
	z-index: 1;
	border-radius: 10px;
}
.dropdown--about--list {
	right: -40px;
}
.dropdown--gallery--list {
	right: -30px;
}

.dropdown--about:hover .dropdown--about--list,
.dropdown--gallery:hover .dropdown--gallery--list {
	display: block;
}

nav {
	li {
		list-style: none;
		font: 100% $font-stack;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		line-height: 1.7;
		font-size: 25px;
	}
}

.header__title-and-navigation {
	padding-top: 65px;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	gap: 18px;
	width: 100%;
}

header {
	background-image: url(seacost.jpg);
	background-position: bottom;
	width: 100%;
	height: 760px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
}

.header__secondary-title-with-teaser-and-button {
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-size: 33px;
	color: white;
	height: 600px;
	width: 320px;
	margin-right: 285px;
	padding-bottom: 145px;
}

.header__teaser-and-button {
	font-size: 20px;
	color: white;
	display: flex;
	gap: 30px;
	width: 450px;
	margin-top: 10px;
}

.article__heading {
	font-size: 51px;
	font-weight: 700;
	padding-top: 36px;
	padding-left: 110px;
	display: flex;
	align-self: start;
}

.first-article {
	display: flex;
	padding: 36px 110px 36px 110px;
	gap: 20px;
}

.article--with-photo {
	background-color: lightgray;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.second-article {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 36px;
	padding-bottom: 36px;
	padding-left: 110px;
	margin-right: 110px;
}

.second-article__photo {
	width: 350px;
	height: 250px;
	margin-right: 36px;
	margin-bottom: 36px;
}

.second-article__first-part {
	width: 60%;
}

.second-article__second-part {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	text-transform: uppercase;
	font-weight: 800;
	font-family: $font-stack;
	font-size: 23px;
	color: white;
	padding: 10px 26px 10px 26px;
	border: 3px solid white;
	border-radius: 25px;
	background-color: transparent;
	font-weight: bold;
	width: 177px;
	cursor: pointer;
}

.btn--body {
	color: grey;
	border: 3px solid grey;
	width: 200px;
	padding: 10px 26px 10px 26px;
	margin-top: 36px;
	margin-bottom: 68px;
}

.btn--link {
	text-decoration: none;
	color: inherit;
}

.btn--gallery {
	background-color: transparent;
	border: none;
	font-size: 30px;
	width: 50px;
	height: 50px;
}

.btn:hover {
	background-color: white;
	color: black;
}

.invisible {
	display: none;
}

.gallery-figure {
	display: flex;
	flex-direction: column;
	align-items: end;
}
.gallery-figure--chosen {
	order: -1;
}

.section-articles {
	color: grey;
}

.section-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 55px;
	padding-bottom: 55px;
	padding-top: 68px;
}

.section-gallery--chosen {
	display: flex;
	flex-direction: column;
}

.gallery-photo {
	width: 410px;
	height: 400px;
	cursor: pointer;
}

.gallery-photo--chosen {
	width: 100%;
	height: 100%;
	order: 1;
}

footer {
	background-color: grey;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
}
