.nav {
  display: flex;
  gap: 77px;
}
.nav__item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.dropdown--about,
.dropdown--gallery {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.list {
  list-style: none;
  font: 100% "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1.7;
  font-size: 25px;
}
.list--about {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 5px 0 10px grey, -5px 0 10px grey;
  padding: 12px 16px;
  z-index: 1;
  border-radius: 10px;
  right: -40px;
}
.list--gallery {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  min-width: 160px;
  box-shadow: 5px 0 10px grey, -5px 0 10px grey;
  padding: 12px 16px;
  z-index: 1;
  border-radius: 10px;
  right: -30px;
}

.dropdown--about:hover .list--about,
.dropdown--gallery:hover .list--gallery {
  display: block;
}

.hero {
  width: 100%;
  height: 760px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  position: relative;
}
.hero__figure {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__section--top {
  display: flex;
  padding-top: 65px;
  justify-content: space-around;
  align-items: baseline;
  gap: 18px;
  width: 100%;
}
.hero__section--bottom {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 33px;
  color: white;
  height: 600px;
  width: 320px;
  margin-right: 285px;
  padding-bottom: 145px;
}

.bottom__action {
  font-size: 20px;
  color: white;
  display: flex;
  gap: 30px;
  width: 450px;
  margin-top: 10px;
}

.section__articles {
  color: grey;
}

.article__heading {
  font-size: 51px;
  font-weight: 700;
  display: flex;
  align-self: start;
}

.article--without-photo {
  padding-top: 36px;
  display: flex;
  padding: 36px 110px 0 110px;
  flex-direction: column;
}
.article--without-photo .article--first {
  gap: 20px;
  display: flex;
}

.article--with-photo {
  padding-top: 36px;
  display: flex;
  padding: 36px 110px 0 110px;
  background-color: lightgray;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article--with-photo .article--second {
  flex-wrap: wrap;
  flex-direction: row;
}
.article--with-photo .article--second__photo {
  width: 350px;
  height: 250px;
  margin-right: 36px;
  margin-bottom: 36px;
}
.article--with-photo .article--second__first-part {
  width: 50%;
}
.article--with-photo .article--second__second-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  padding: 10px 26px 10px 26px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s linear 0.2s, background-color 0.2s linear 0.2s;
}
.btn__link {
  color: inherit;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 3px solid black;
}

.btn--header {
  color: white;
  border: 3px solid white;
  background-color: transparent;
  width: 177px;
}

.btn--body {
  color: grey;
  border: 3px solid grey;
  width: 200px;
  margin: 36px 0 68px 0;
}

.btn--gallery {
  background-color: transparent;
  border: none;
  font-size: 30px;
  width: 50px;
  height: 50px;
}

.invisible {
  display: none;
}

.gallery__figure {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.gallery__figure--chosen {
  order: -1;
}

.section__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px;
  padding: 68px 0 55px 0;
}
.section__gallery--chosen {
  display: flex;
  flex-direction: column;
}

.gallery__photo {
  width: 410px;
  height: 400px;
  cursor: pointer;
}
.gallery__photo--chosen {
  width: 100%;
  height: 100%;
  order: 1;
}

.footer {
  background-color: grey;
  color: white;
  padding: 20px 70px 20px 70px;
}

/*# sourceMappingURL=output.css.map */
